/* 基础样式设置 */
body {
    font-family: Arial, sans-serif; /* 使用Arial字体，无衬线字体作为备用 */
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
    background-color: #f0f0f0; /* 设置背景颜色为浅灰色 */
    display: flex; /* 启用弹性盒模型 */
    flex-direction: column; /* 设置主轴方向为垂直方向 */
    min-height: 100vh; /* 最小高度为视口高度，确保页脚固定在底部 */
}

/* 页眉样式 */
header {
    background-color: #333; /* 深灰色背景 */
    color: #fff; /* 白色文字 */
    padding: 20px; /* 内边距20像素 */
    display: flex;
    justify-content: space-between;
    align-items: center; /* 文本居中 */
    height: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

/* 主内容区域样式 */
main {
    text-align: center; /* 文本居中 */
    flex: 1; /* 占用剩余空间 */
    padding: 20px; /* 内边距20像素 */
}

/* 主内容区域超链接样式 */
main a {
    color: black; /* 设置超链接颜色为黑色 */
    text-decoration: none; /* 取消下划线 */
}

/* 选择区域样式 */
.recommendation_vegetables {
    display: flex; /* 使用弹性盒模型 */
    justify-content: center; /* 主轴对齐方式：居中 */
    align-items: center; /* 交叉轴对齐方式：居中 */
    margin-bottom: 20px; /* 底部外边距20像素 */
}

/* 选择器样式 */
.recommendation_vegetables select {
    margin-right: 20px; /* 右侧外边距20像素，与下一个元素保持距离 */
}

/* 图像展示区域样式 */
.images {
    display: flex; /* 启用弹性盒模型 */
    flex-wrap: wrap; /* 允许内容换行 */
    justify-content: flex-start; /* 主轴对齐方式：起始对齐 */
    padding: 20px; /* 内边距20像素 */
}

/* 链接内的图像和文字样式 */
.images a {
    width: calc(25% - 20px); /* 宽度计算为四分之一减去20像素 */
    text-align: center; /* 文本居中 */
    margin-bottom: 20px; /* 底部外边距20像素 */
    display: block; /* 显示为块级元素 */
    padding: 10px; /* 内边距10像素 */
    box-sizing: border-box; /* 盒模型设为边框盒 */
    margin-right: 20px; /* 右侧外边距20像素 */
}

/* 图像样式 */
.images img {
    width: 100%; /* 图片宽度为容器宽度的100% */
    height: auto; /* 高度自动，保持原有比例 */
    aspect-ratio: 3 / 2; /* 设置宽高比 */
    object-fit: cover; /* 图片内容按比例填充元素框，可能会被裁剪 */
    margin-bottom: 10px; /* 图片下方外边距10像素 */
}


/* 图像描述文字样式 */
.images p {
    margin-top: 5px; /* 顶部外边距5像素 */
    font-size: 14px; /* 字体大小14像素 */
}

/* 页脚样式调整 */
footer {
    background-color: #333; /* 深灰色背景 */
    color: #fff; /* 白色文字 */
    display: flex; /* 使用弹性布局 */
    justify-content: space-between; /* 内容两端对齐 */
    align-items: center; /* 垂直居中对齐 */
    padding: 10px 20px; /* 上下内边距10像素，左右内边距20像素 */
    flex-wrap: nowrap; /* 确保内容不会换行 */
}

/* 页脚链接样式 */
footer a {
    color: #fff; /* 设置链接颜色为白色 */
    text-decoration: none; /* 取消下划线 */
}

